mixin Modal(id, modalTemplate)
    .modal(id=id)
        .modal__dialog
            button.btn__modal__close
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    form
        h3 узнайте стоимость ремонта
        input(type="text", placeholder="Ваше имя")
        input(type="tel", placeholder="Телефон для связи")
        input(type="text", placeholder="Комментарий")
        a.btn отправить
        p  отправляя данные я соглашаюсь с политикой конфиденциальности 
    